@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    scroll-behavior: smooth;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* height: 100%; */
    background-color: rgb(60, 60, 60);
}

div.main-wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: auto;
    display: flex;
    text-align: center;
    vertical-align: middle;
}

div.main-wrapper main {
    margin: auto;
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1 / 1.4;
    background: linear-gradient(150deg, rgb(210, 5, 5),red,red, rgb(200, 0, 0), red,red, rgb(230, 10, 10),red);
    box-shadow: 
        inset 5px 5px 5px rgb(255, 134, 134),
        inset -5px -5px 5px rgb(60, 60, 60);
}

div.main-wrapper main div.header {
    width: 80%;
    height: 80px;
    margin: 20px auto;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 1px 3px 3px black inset;
}

div.main-wrapper main div.header div.title {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    transform: translateY(-15%);
    color: white;
    text-shadow: 3px 5px 3px black;
}

div.main-wrapper main div.show-case {
    width: 90%;
    height: 40%;
    margin: 50px auto;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: inset 2px 2px 3px gray;
}

div.main-wrapper main div.show-case div.row {
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: row;
}

div.main-wrapper main div.show-case div.row div.col {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.main-wrapper main div.show-case div.row div.col div.image-box {
    width: 100%;
    flex: 1;
    display: flex;
}

div.main-wrapper main div.show-case div.row div.col div.btn-box {
    width: 100%;
    height: 15%;
    background-color: rgb(220, 220, 220);
    display: flex;
    box-shadow: inset 0px 2px 0px gray;
}

div.main-wrapper main div.show-case div.row div.col div.btn-box button {
    width: 60%;
    margin: auto;
    aspect-ratio: 2;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../assets/button.svg");
    border-style: none;
    outline: none;
    background-size: cover;

}

div.main-wrapper main div.show-case div.row div.col div.btn-box button:active {
    background-image: url("../assets/button_push.svg");
}

div.main-wrapper main div.show-case div.row div.col div.image-box img.product-image {
    height: 15vw;    
    margin: auto;
    width: auto;
}

div.main-wrapper main div.outlet {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    padding: auto;
    margin: auto;
    position: relative;
}

div.main-wrapper main div.outlet #anim-drink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(50deg);
    height: 60%;
}

div.main-wrapper main div.outlet .hole {
    margin: auto;
    width: 100%;
    height: 60%;
    background: linear-gradient(
        120deg,
        black,
        black,
        black,
        black,
        black,
        rgb(74, 74, 74),
        black,
        rgb(50, 50, 50),
        black,
        black,
        rgb(60, 60, 60),
        black
    );
    border-radius: 20px;
    box-shadow: 3px 4px 3px gray inset;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    padding: auto;
}

div.main-wrapper main div.outlet .hole .recycl-caut {
    color: wheat;
    width: 50%;
    height: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

div.main-wrapper main div.outlet .hole .note-box {
    color: white;
    width: 50%;
    padding: 10% 5%;
    border: 1px solid white;
    border-radius: 5px;
}


div.main-wrapper main div.outlet .hole .note-box .note-title {
    font-size: clamp(0.75rem, 0.295rem + 2.27vw, 2rem);
}

div.main-wrapper main div.outlet .hole .note-box .note-content {
    font-size: clamp(0.5rem, 0.273rem + 1.14vw, 1.125rem);
}

div.main-wrapper main div.outlet .hole .mark-box {
    width: 50%;
    padding: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}

div.main-wrapper main div.outlet .hole .mark-box img {
    width: 70%;
    aspect-ratio: 1;
    margin: 10% auto;
    color: white;
}

@media screen and (max-width:480px) {
    div.main-wrapper main div.show-case div.row div.col div.btn-box input {
        width: 60%;
        height: 40%;
    }
    div.main-wrapper main div.show-case div.row div.col div.btn-box {
        height: 10vw;
    }
}